label,
select {
  font-size: 3em;
}

select option {
  font-size: 1rem;
}

pre {
  font-size: 7em;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  cursor: default;
  fill: #635f5d;
}

.axis-label {
  fill: #635f5d;
  font-size: 2.5em;
}
